.material-icons.md-60 { font-size: 60px; }
.bag-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    border-radius: 5px; /* 5px rounded corners */
    margin: 30px;
    padding: 10px;
}

.envelope {
}

#opened-mail {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#unopened-mail {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    background: #ffffff;
}

.fade_slow {
    opacity: 0;
    -webkit-transition: opacity 0.50s linear;
    -moz-transition: opacity 0.50s linear;
    -o-transition: opacity 0.50s linear;
    transition: opacity 0.50s linear;
}
 .fade_fast {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade_slow.in {
    opacity: 1;
}
.fade_fast.in {
    opacity: 1;
}
