{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'exp/envelope.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="bag-container">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Envelopes Opened</h5>
            </div>
            <div class="card-body">
                <div id="opened-mail">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Envelopes Remaining</h5>
            </div>
            <div class="card-body">
                <div id="unopened-mail">
                    {% for u in unopened %}
                        <span class="btn btn-outline-secondary">{{ u }}{{ value_type }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="bout" class="d-flex flex-column align-items-center">
        <div class="p-2">
            {% formfields %}
        </div>
        <div class="p-2">
            {% next_button %}
        </div>
    </div>
{% endblock %}

